# Core
fastapi
uvicorn

# RealtimeSTT dependencies
torch 
torchvision 
torchaudio
transformers
faster-whisper
openwakeword
numpy<2.0.0
scipy
websockets
websocket-client
colorama
PyAudio
pvporcupine
webrtcvad-wheels
halo
soundfile
huggingface_hub[hf_xet]
tqdm==4.65.0