# requirements 합본본

# =====================
# Core Dependencies
# =====================
fastapi
uvicorn
requests
redis
numpy<2.0.0
scipy
tqdm==4.65.0
colorama
loguru

# ==========================
# RealtimeSTT Components
# ==========================
torch
torchvision
torchaudio
transformers
faster-whisper
openwakeword
websockets
websocket-client
PyAudio
pvporcupine
webrtcvad-wheels
halo
soundfile
huggingface_hub[hf_xet]

# ==========================
# LLM Agent 
# ==========================
openai