# Core
fastapi
uvicorn

# RealtimeSTT dependencies
torch==2.5.1+cu121
torchaudio==2.5.1
faster-whisper
openwakeword
numpy<2.0.0
scipy
websockets
websocket-client
colorama
PyAudio
pvporcupine
webrtcvad-wheels
halo
soundfile
huggingface_hub[hf_xet]